@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&family=Poppins:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #ff9315;
    --font-color: #605a5a;
    --background-color: #fcfcfc;
}

// .dark {
//     --font-color: #ffffff;
//     --background-color: #16212c;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

#root {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editable:empty:before {
    font-weight: 300;
    content: attr(data-placeholder);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.ql-toolbar {
    background-color: var(--background-color);
}
.slider-container {
    padding: 10px 30px 30px 30px; 
    height: auto;
  }

.slick-slide>div{
    margin: 0 10px;
    padding: 10px;
}
.slick-list{
    margin-right: -20px;
}

.date-picker-wrapper {
    position: relative;
  }
  
.date-picker-popper {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    transform: translateY(0.25rem);
    padding: 0.5rem;
    font-size: 0.8rem;
  }
@media (prefers-color-scheme: dark) {
    .slick-prev:before,
    .slick-next:before {
      color: darkgrey !important;
    }
  }

  /* Custom styles for TabList */
  .react-tabs__tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-color: #f2f2f5  !important;

  }
  .dark .react-tabs__tab-list {
    border-color: #262837  !important;

  }

  .react-tabs__tab--selected{
    background-color:  #fff !important;
    color: #625a5a  !important;
    border: none !important;

  }
  .dark .react-tabs__tab--selected{
    background-color:  #262837 !important;
    color: #fff  !important;
    border: none !important;

  }

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfcfcf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@mixin no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar {
  @include no-scrollbar;
}

@mixin message-hover() {
  &:hover .more-hover {
    @apply flex;
  }
}

@mixin hover-react() {
  &:hover .hover-react-item {
    @apply block z-50;
  }
}

.message-hover {
  @include message-hover();
}

.hover-react {
  @include hover-react();
}